@import "../../../../../../scss/variables";

seasons-panel {
  display: block;

  .header {
    margin-bottom: 20px;
  }

  .mat-expansion-panel {
    border: 1px solid mat-color($app-foreground, divider);
    border-radius: 4px;
    margin-bottom: 10px;

    .mat-expansion-panel-header-title {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  .mat-tab-group {
    .mat-tab-body-wrapper {
      padding: 15px;
    }
  }

  .mat-column-name {
    media-image {
      margin-right: 15px;

      img {
        width: 50px;
        height: 35px;
        border-radius: 4px;
      }
    }
  }

  .mat-column-edit {
    max-width: 100px;
    color: mat-color($app-foreground, secondary-text);
  }
}